<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527161473297-b35rcva13ia1f6vqqah4babdpu0bit9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527161473297-b35rcva13ia1f6vqqah4babdpu0bit9i</string>
	<key>API_KEY</key>
	<string>AIzaSyA6S48PF4bZpksiKpgm9E5_SFpWqK3ofo0</string>
	<key>GCM_SENDER_ID</key>
	<string>527161473297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.elsys.listApp</string>
	<key>PROJECT_ID</key>
	<string>diplomna-rabota-488d4</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomna-rabota-488d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527161473297:ios:dd38282241234beed3f4b0</string>
</dict>
</plist>